{
  "arrowParens": "always",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": true,
  "proseWrap": "always",
  "printWidth": 140,
  "plugins": ["prettier-plugin-tailwindcss"]
}
